# Volcengine Ark API Configuration
Volcengine_API_KEY=xxx
Volcengine_MODEL_ID=deepseek-v3-250324
Volcengine_BASE_URL=https://ark.cn-beijing.volces.com/api/v3

# Google Gemini API Configuration
Google_API_KEY=xxx 
Google_MODEL_ID=gemini-2.5-pro-preview-03-25
Google_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/

# Database Location
DB_PATH=your_freshrss_db_path

# Feed Sources
ALLOWED_FEED_NAMES="feed_name_1,feed_name_2,feed_name_3"
WECHAT_CATEGORY_ID="xxx"
WECHAT_URL_PATTERN_CONTAINS="wechat2rss_or_other_services"